<template>
  <q-page class="row items-center justify-evenly">
    <questions-quiz></questions-quiz>
  </q-page>
</template>

<script lang="ts">
import QuestionsQuiz from 'components/QuestionsQuiz.vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'IndexPage',
  components: { QuestionsQuiz },
});
</script>
