<template>
  <q-card :style="{ width: quizConfig.quizCardWidth }" data-cy="q-card">
    <q-card-section
      class="bg-primary text-white"
      data-cy="q-card-section-title"
    >
      <!-- Title -->
      <div class="text-h6" data-cy="quiz-title">
        <span>{{ $t(quizConfig.quizTitle) }}</span>
        <div
          class="circle float-right"
          :style="{
            width: quizConfig.titleImageWidth,
            height: quizConfig.titleImageHeight,
          }"
          data-cy="quiz-title-circle-div"
        >
          <!-- Title image -->
          <q-img
            :src="`/${quizConfig.titleImage}`"
            spinner-color="primary"
            class="z-top"
            data-cy="quiz-title-img"
          />
        </div>
      </div>

      <!-- Subtitle -->
      <div class="text-subtitle2" data-cy="quiz-subtitle">
        {{ $t(quizConfig.quizSubtitle) }}
      </div>

      <!-- Switch language -->
      <div
        class="['q-mt-xs', Object.keys($i18n.messages).length < 2 ? 'invisible' : '']"
        ref="lang"
        data-cy="quiz-switch-lang"
      >
        <a
          href="javascript:;"
          v-on:click="switchLanguage"
          v-for="(lang, index) in getLocales()"
          :key="lang"
          class="text-bold q-px-xs border-top text-white"
          :style="[index > 0 ? 'border-left-style: solid' : '']"
          :id="`${lang}-lang`"
        >
          {{ lang }}
        </a>
      </div>
    </q-card-section>

    <!-- Progressbar -->
    <q-linear-progress
      size="15px"
      :value="progress"
      color="primary"
      class="q-mt-md"
      data-cy="q-linear-progress"
    >
      <div class="absolute-full flex flex-center">
        <q-badge color="white" text-color="primary" :label="progressLabel" />
      </div>
    </q-linear-progress>

    <!-- Question -->
    <q-card-section
      :class="[{ hidden: showResult }, 'q-mt-md']"
      data-cy="q-card-section-question"
    >
      <div class="row no-wrap items-center text-h5">
        {{ $t(options.slice(start, end)[0].question) }}
      </div>
    </q-card-section>

    <q-card-section>
      <!-- Question answers -->
      <q-option-group
        v-model="group"
        :options="options.slice(start, end)"
        color="primary"
        :class="{ hidden: showResult }"
        ref="questionAnswers"
        data-cy="q-card-section-question-answers"
      />
      <!-- Result -->
      <q-card-section
        :class="{ hidden: !showResult }"
        data-cy="q-card-section-result"
      >
        <div class="text-center">
          <div>
            <span class="text-weight-bolder q-pr-xs">{{ answers.length }}</span>
            {{
              $t('corectAnsweredQuestions', {
                count:
                  answers.length === 0 ? answers.length + 1 : answers.length,
              })
            }}
          </div>
          <div>/</div>
          <div>
            <span class="text-weight-bolder q-pr-xs"
              >{{ options.length / quizConfig.answersPerQuestion }}
            </span>
            {{
              $t('totalQuestions', {
                count: options.length / quizConfig.answersPerQuestion,
              })
            }}
          </div>
        </div>
      </q-card-section>

      <!-- Buttons -->
      <q-card-actions align="around">
        <q-btn
          color="primary"
          @click="back"
          :disabled="start < quizConfig.answersPerQuestion ? true : false"
          data-cy="q-btn-back"
        >
          {{ $t('backBtn') }}
        </q-btn>
        <q-btn
          color="primary"
          @click="next"
          :disabled="!group ? true : false"
          data-cy="q-btn-next"
        >
          {{ $t('nextBtn') }}
        </q-btn>
      </q-card-actions>
    </q-card-section>

    <!-- Image -->
    <q-img
      :src="`/${quizConfig.quizImage}`"
      width="100%"
      fit="contain"
      spinner-color="primary"
      data-cy="q-img-quiz-img"
    />

    <!-- Quit app btn -->
    <q-btn
      color="primary"
      :class="[
        'absolute-bottom-right',
        'q-mr-md',
        'q-mb-md',
        !quizConfig.showQuitAppBtn ? 'hidden' : '',
      ]"
      round
      glossy
      icon="logout"
      @click="quitApp"
      data-cy="q-btn-quit-app"
    >
      <q-tooltip data-cy="q-btn-quit-app-tooltip">
        {{ $t('quitAppBtnTooltip') }}
      </q-tooltip>
    </q-btn>
  </q-card>
</template>

<script lang="ts">
import { setCssVar } from 'quasar';
import { defineComponent, inject, computed, ref, watch } from 'vue';

import { Log } from 'vuejs3-logger';

import { Options } from './models';

import { i18n } from '../boot/i18n';

type btnClickFunc = () => void;
type switchLanguage = (evt: object) => void;

const quizConfig: object = JSON.parse(process.env.QUIZ_CONFIG);

setCssVar('primary', quizConfig.primaryColor);

const questionAnswers = ref(null);
const progress = ref(0.0); // progressbar value 0-1
const answers: Array<string>[] = []; // number of all correct answers from all questions
const startVal = 0;
const start = ref(startVal);
const end = ref(quizConfig.answersPerQuestion);
const group = ref('');
const options = ref<Options[]>(quizConfig.quiz); // Quiz questions with answers
const lang = ref(null);

function btnClick(logger: Log): {
  back: btnClickFunc;
  next: btnClickFunc;
  start: number;
  end: number;
  swithLanguage: switchLanguage;
} {
  const calcProgressbarVal = (): number => {
    const value: number = 100 / (options.value.length / start.value) / 100;
    logger.debug(`Set progressbar value ${value.toFixed(2)}.`);
    return value;
  };

  const next = (): void => {
    resetAnswerBgColor(logger);
    group.value = '';

    if (end.value < options.value.length) {
      start.value += quizConfig.answersPerQuestion;
      end.value += quizConfig.answersPerQuestion;
    } else {
      progress.value = 1;
      logger.debug(`Set progressbar value ${progress.value}.`);
    }

    if (progress.value < 1) {
      progress.value = calcProgressbarVal();
    }
  };

  const back = (): void => {
    resetAnswerBgColor(logger);
    answers.length = 0;
    group.value = '';

    if (start.value > startVal && progress.value !== 1.0) {
      start.value -= quizConfig.answersPerQuestion;
      end.value -= quizConfig.answersPerQuestion;
    }
    progress.value = calcProgressbarVal();
  };

  const quitApp = (): void => {
    window.close();
  };

  const switchLanguage = (evt: object): void => {
    logger.debug(`Switch to ${evt.target.text} lang.`);
    i18n.global.locale = evt.target.text;
    const langElements: Array = lang.value.children;
    Object.keys(langElements).forEach((key: number): void => {
      langElements[key].text == evt.target.text
        ? (langElements[key].style.background = quizConfig.secondaryColor)
        : (langElements[key].style.background = 'transparent');
    });
    options.value.map((opt) => (opt.label = i18n.global.t(opt.transKey)));
  };

  return { back, next, quitApp, start, end, switchLanguage };
}

const resetAnswerBgColor = (logger: Log, color = 'rgba(0, 0, 0, 0)'): void => {
  questionAnswers.value.$el.childNodes.forEach((answer) => {
    answer.style.backgroundColor = color;
    logger.info('Answers container background color is resetted.');
  });
};

const setAnswerBgColor = (
  logger: Log,
  color: string = quizConfig.secondaryColor
): void => {
  options.value.forEach((option) => {
    if (
      options.value.slice(start.value, end.value)[0].question ===
        option.question &&
      option.value === quizConfig.correctAnswer
    ) {
      questionAnswers.value.$el.childNodes.forEach((answer) => {
        if (option.label === answer.textContent) {
          answer.style.backgroundColor = color;
          answer.style.borderRadius = '1em';
          logger.debug(
            `Correct answer container background color is setted to ${color}.`
          );
        }
      });
    }
  });
};

const getLocales = (): Array => {
  const locales: Array = Object.keys(i18n.global.messages);
  const defLocaleIndex = locales.indexOf(i18n.global.locale);
  const defLocale = locales[defLocaleIndex];
  locales.splice(defLocaleIndex, 1);
  locales.splice(0, 0, defLocale);
  return locales;
};

if (window.Cypress) {
  window.i18n = i18n;
}

export default defineComponent({
  name: 'QuestionsQuiz',
  props: {},
  mounted: () => {
    // Click on the default lang switch link
    Object.keys(lang.value.children).forEach((index: number): void => {
      let locale: string = lang.value.children[index].text;
      if (locale === i18n.global.locale) {
        lang.value.children[index].click();
      }
    });
  },
  setup() {
    const logger = inject('vuejs3-logger');
    logger.debug('Quiz TOML config', quizConfig);
    watch(group, (newVal: string) => {
      if (newVal === quizConfig.correctAnswer) {
        answers.push(newVal);
        logger.debug(
          `The number of selected correct answers is ${answers.length}.`
        );
      }
      if (newVal) setAnswerBgColor(logger);
    });
    return {
      ...btnClick(logger),
      progressLabel: computed(() => (progress.value * 100).toFixed(0) + '%'),
      showResult: computed(() => (progress.value === 1.0 ? true : false)),
      options,
      progress,
      answers,
      group,
      questionAnswers,
      quizConfig,
      logger,
      lang,
      getLocales,
    };
  },
});
</script>
<style lang="scss" scoped>
.circle {
  border-radius: 50%;
  background: white;
  border: none;
}
</style>
